.intro {
	width: 66%;
	margin: 0 auto;

}
.intro h1 {
	text-align: center;
}
.rules li {
	display: block;
	position: relative;
	list-style: circle;
}
.intro2 {
	padding-top: 20px;
}
.game {

	margin-top: 30px;
}
/* 
	margin-left: 30%;
.control-buttons {
	width: 60%;
}
*/
.control-buttons {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.size-button {
	display: inline-block;
	margin-right: 10px;
}
.size-button select{
	height: 50px;
}
.tick-button {
	display: inline-block;
}
.run-button {
	display: none;
}
.gameForm {
	display:none;
}